
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    overflow: hidden;
    height: 100vh;
}

#wallpaper{
    height:100%;
    width:100%;
    object-fit: fill;
}

/* PARTITIONS IN TASKBAR */
.taskbar{
    background-color: rgb(245, 245, 245);
    width: 100%;
    height: 3rem;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
}
.left{
    color: black;
    width: 20%;
    height: 3rem;
    position: relative;
    display: inline-flex;
    align-items: center;
    padding: 0 5px;
}
.center{
    color: black;
    width: 100%;
    height: 3rem;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
.right{
    color: black;
    width: 20%;
    height: 3rem;
    position: relative;
    display: inline-flex;
    align-items: right;
}
.nav-item > :hover{
    background-color: rgba(210, 210, 210);
}

/* ICONS TO BE OF APPROPRIATE SIZE */
.nav-item > img, button >img{
    height: 30px;
    width: 30px;
    padding: 3px 5px;
}
button {
    border: 0px;
}

/* FOR DATE AND TIME */
.dateTime{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 5px;
    min-width: 72px;
}

#date{
    align-self: flex-end;
}
#time{
    align-self: flex-end;
}

/* CLOSE DIV */
body{
    display: grid;
    place-items: center;
    color: white;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}
.close{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    border-radius: 6px 6px 0 0;
}
.close > button{
    color: white;
    background-color: black;
    height: 35px;
    width: 50px;
    border: 0;
    border-top-right-radius: 6px;
}
.close > button:hover{
    background-color: red;
}
#heading{
    display: flex;
    align-items: center;
    padding: 3px;
    width:100px;
}
#thumbnail{
    height: 20px;
    width: auto;
    padding: 5px;
    margin: 0 10px;
}

/* WEATHER */
#weather{
    position: absolute;
    left: 0px;
    bottom: 50px;
    background-image: linear-gradient(#11009E, #4942E4, #8696FE, #C4B0FF);
    border: 1px solid black;
    border-radius: 6px;
    height: 400px;
    width: 400px;
}
#searchBar{
    background-color: #EEEEEE;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 20px 70px;
    border-radius: 6px;
}
#searchText{
    border: 0;
    /* height: 30px; */
    width: 100%;
    background-color: #EEEEEE;
}
#searchButton > img{
    height: 20px;
    width: 20px;
}
#searchButton:hover{
    background-color: rgba(210, 210, 210);
}
#information{
    /* background-color: #ACBCFF; */
    height: 250px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: auto auto 100px;
    justify-content: center;
    align-content: space-around;
}
#weather-icon{
    display: none;
    align-self: center;
    width: 100px;
    height: 100px;
    margin: 10px 50px;
}
#temp-div{
    display: flex;
    justify-content: center;
    margin: 10px;
    font-size: 30px;
}
#temp-div > p{
    margin: 30px 55px;
}
#weather-info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 20px;
    grid-column: 1/span 2;
}
#weather-info > p{
    margin: 25px 0;
}
#hourly-forecast{
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
    grid-column: 1/span 2;
}
.hourly-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin: 10px;

}
.hourly-item img{
    width: 30px;
    height: 30px;
}
#hourly-heading{
    color: #fff;
}

/* CALCULATOR */
#calc{
    display: none;
    width: 400px;
    height: 500px;
    background-color: black;
    position: absolute;
    border: 2px solid white;
    border-radius: 6px; 
}
#calc input[type='text'] {
    width: 88%;
    position: relative;
    height: 80px;
    top: 5px;
    text-align: right;
    padding: 3px 6px;
    font-size: 40px;
    border: 5px solid rgb(0, 0, 0);
    display: flex;
    margin: 10px;
    border-radius: 6px;
    color: white;
    background-color: black;
}
.btn input[type='button']{
    width:90px;
    padding: 2px;
    margin: 2px 0px;
    position: relative;
    left: 13px;
    top: 20px;
    height: 60px;
    cursor: pointer;
    font-size: 18px;
    transition: 0.5s;
    background-color: rgba(128, 128, 128, 0.5);
    border-radius: 6px;
    color: white;
}
.btn input[type='button']:hover{
    background-color: rgb(42, 42, 42);
    color: white;
}

#result{
    background-color: rgb(66, 204, 250);
    color: black;
}

/* Start Menu */
#menu{
    width: 460px;
    border-radius: 4px;
}
.startmenu{
    position: absolute;
    bottom: -650px;
    text-align: center;
    transition: all 0.6s ease-in;
    z-index: 6;
}

/* Search Menu */
#searchBox{
    width: 545px;
    border-radius: 4px;
}
.searchmenu{
    position: absolute;
    bottom: -650px;
    text-align: center;
    transition: all 0.6s ease-in;
    z-index: 6;
}

/* Widget Menu */
#widgetBox{
    height: 80vh;
    border-radius: 4px;
}
.widgetmenu{
    position: absolute;
    left: -950px;
    bottom: 50px;
    transition: all 0.6s ease-in;
    z-index: 6;
}

